<html>
	<head>
		<link rel="stylesheet" href="templates/style.css"/>
	</head>
	<body>
		<div id="cv" class="container">
			<section class="row item">
				<div id="header"></div>
			</section>
			<section class="row item line">
				<h2>Education and Qualifications</h2>
				<div id="education"></div>
			</section>
			<section class="row item line">
				<h2>Work Experience</h2>
				<div id="work-experience"></div>
			</section>
			<section class="row item line">
				<h2>Additional Information</h2>
				<div id="interests"></div>
				<div id="achievements"></div>
				<div id="nationality"></div>
				<div id="languages"></div>
			</section>
		</div>
	</body>
</html>